<head xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
    <title>
        todo
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="style.css">-->
</head>
<body class="container col-lg-4">
<h1 class="mt-5">
    todo
</h1>

<div id="app"></div>

<script type="text/x-template" id="app-template">
    <section>
        <h4>
            <label v-on:click="showComplete = !showComplete">
                <input type="checkbox" v-model="showComplete">
                only uncomplited
            </label>
        </h4>
        <ul class="list-group">
            <li v-for="todo in filteredTodos" class="list-group-item" v-on:click="todo.complete = !todo.complete;">
                <label class="form-check-label ml-4">
                    <input type="checkbox" v-model="todo.complete" class="form-check-input">
                    <span v-bind:class="{completed:todo.complete}"> {{ todo.name }} </span>
                </label>
            </li>
        </ul>


        <form v-on:submit.prevent="addTodo" class="mt-3">
            <input type="text" v-model="text" class="form-control" placeholder="Add new!">
            <button :disabled="submitIsDisabled" class="btn btn-primary mt-2">add</button>
        </form>
    </section>
</script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
<script>
    let todos = [
        {name: "step 1", complete: false,},
        {name: "step 2", complete: true},
        {name: "step 3", complete: false}
    ];

    new Vue({
        el: `#app`,
        template: "#app-template",
        data: () => ({todos, text: ``, showComplete: true,}),

        computed: {
            filteredTodos() {
                return this.todos
                    .filter(todo => this.showComplete ? true : !todo.complete);
            },

            submitIsDisabled() {
                return this.text == "";
            }
        },

        methods: {
            addTodo() {
                todos.push({
                    name: this.text,
                    complete: false
                });
                this.text = ``;
            },
        }
    });
</script>
</body>